* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-screen {
  border: 1px solid black;
  background-color: slategrey;
}

img {
  display: none;
}
